   <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Artists
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

      

                <div class="row">
                    <div class="col-lg-12">
                        <div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Min-Image</th>
                                            <th>Name</th>
                                            <th>Popularity</th>
                                            <th>Folowers</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="artistIt in artists">
                                            <td><img ng-src="{{artistIt.images[2].url}}"></td>
                                            <td>{{artistIt.name}}</td>
                                            <td>{{artistIt.popularity}}</td>
                                            <td>{{artistIt.followers.total}}</td>
                                            <td>
                                                <button type="button" class="btn btn-default" ng-click="$ctrl.open('md',null,artistIt.id)">Ver Generos</button>
                                                <a class="btn btn-default" href="#!/detail/{{ artistIt.id }}">Ver Detalle</a>
                                                <a class="btn btn-default" href="{{ artistIt.external_urls.spotify }}" target="_blank">Abrir Spotify</a>
                                                <button type="button" class="btn btn-default" ng-click="$ctrl.openJson('lg',null,artistIt.id)">Ver Json</button>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

             <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Genres</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <ul>
                        <li ng-repeat="item in $ctrl.artist.genres">
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cerrar</button>
                </div>
            </script>
            <script type="text/ng-template" id="myModalJsonContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Json</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <p>{{ $ctrl.artist }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cerrar</button>
                </div>
            </script>

            <div class="modal-parent">
            </div>

        </div>